{% extends "layout.html" %}

<!-- Début du bloc de contenu principal -->
{% block body %}
<!-- Conteneur principal avec padding vertical -->
<div class="container py-5">
    <div class="row"> <!-- Début de la rangée principale -->
        <div class="col-lg-8 mx-auto">  <!-- Colonne centrée pour le contenu -->
            <h1 class="font-weight-light">Bienvenue sur notre Plateforme de Segmentation d'Images</h1>
            <p class="lead text-center">Notre plateforme utilise l'intelligence artificielle pour segmenter les images en différentes catégories de manière précise et efficace.</p>
            <p class="lead text-center">Vous pouvez tester notre modèle en utilisant une des images prédéfinies ou en téléchargeant votre propre image.</p>
            <div class="mt-4 d-flex justify-content-between" style="gap: 2rem;"> <!-- Conteneur pour les boutons -->
                <a href="/prediction/" class="btn btn-primary btn-lg">Tester avec une Image Prédéfinie</a> <!-- Bouton pour tester avec une image prédéfinie -->
                <a href="/segment/" class="btn btn-secondary btn-lg">Tester avec Votre Propre Image</a>  <!-- Bouton pour tester avec une image personnalisée -->
            </div>
        </div>
    </div>
</div>
{% endblock %}